.info-paragraph{
  width: 1400px;
  padding: 30px;
  background-color: antiquewhite;
  border-color: rgb(206, 89, 47);
  border: 6px solid rgb(203, 158, 201);
  border-radius: 10px 100px / 120px;

}
.aboutUsContainer {
  padding-top: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  top: -40px;
  position: relative;
  justify-content: center;

}
/* .headerAboutUs{

} */
