
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Sansita+Swashed:wght@500&display=swap');


.coloring_h1{
   
    font-family: 'Sansita Swashed', cursive;
    
    color: rgb(5, 3, 27);
    margin-bottom: 5%;
    /* background-color: rgb(22, 22, 19); */
    text-align: center;
    background-image: url("https://www.shutterstock.com/image-illustration/unicorn-marble-galaxy-print-patternpastel-260nw-1784173463.jpg");
}

.coloring {
    background-color: rgb(231, 238, 186);
    border: 2px dotted fuchsia;
    color: black;
    padding: 0.75rem;
    margin: 0.5rem;
    width: 200px;
    height: 200px;

}
.ContainerDetails{
    background-color: rgb(241, 236, 230);
    width: 300px;
}
.stylingName{
    background-color: aquamarine;
    margin-bottom: 5%;
}

.descriptionBox{
    background-color: rgb(223, 205, 205);
}
.colors{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* background-image: url("https://png.pngtree.com/png-clipart/20220615/ourmid/pngtree-cute-rainbow-airbrush-design-png-image_5077177.png"); */

}