.coloring {
    /* border-radius: 8px; */
    background-color: rgb(231, 238, 186);
    border: 2px dotted fuchsia;
    color: black;
    padding: 0.75rem;
    margin: 0.5rem;
    width: 200px;
    height: 200px;

}

.colors {
    background-color: rgb(231, 238, 186);
    border: 2px dotted fuchsia;
    color: black;
    padding: 0.75rem;
    margin: 0.5rem;
    width: 200px;
    height: 200px;
}

.coloring_h1 h1 {
    left: 600px;
    top: 10px;
    position: relative;
    color: fuchsia;
    margin-top: 10px;
    width: 180px;
    border-radius: 10px;
}