.d-flex{
    padding-left: 30%;
    padding-right: 20%;
    margin-top: -11%;
    padding-bottom: 10%;
    margin-top: 5%;

}

.mainSearchBar{
    background-image: url(../images/image15.jpg);
    padding-bottom: 30%;
/* background-size: 70ch; */

background-size: cover;
    background-repeat: no-repeat;


    padding-top: 5%;
}